@tailwind base;
@tailwind components;
@tailwind utilities;
/*======================== */
/* Basic Typo-grapy Start */
/*======================== */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&family=Raleway:ital,wght@0,400;0,600;0,700;1,400;1,500&display=swap");
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
html {
   font-size: 65.5%;
}
body {
   width: 100%;
   font-family: "Oswald", sans-serif;
   font-family: "Raleway", sans-serif;
}
:root {
   --primary: #fff;
   --main-color: #6a5acd;
   --primary-orange: #ff6f00;
   --primary-dark: #2a2828;
   --primary-white: #ffffffe6;
}
p {
   line-height: 1.8em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: "Raleway", sans-serif;
   font-weight: 700;
}
/* h1 {
   font-size: 4rem;
}
h2 {
   font-size: 3.5rem;
}
h3 {
   font-size: 3rem;
}
h4 {
   font-size: 2.5rem;
}
h5 {
   font-size: 2rem;
} */



img {
   width: 100%;
   height: auto;
}
/*======================== */
/* Basic Typo-grapy End */
/*======================== */

@keyframes rotation {
   0% {
      transform: scale(0.5);
   }
   100% {
      transform: scale(1);
   }
}

/* ===========================
    Responsive Break Points 
  =======================*/
@media screen and (min-width: 0px) and (max-width: 578px) {
   html {
      font-size: 50%;
   }
}


.title{
   font-size: 3.8rem;
   color: var(--main-color);
   text-align: center ;
   padding-bottom: 10px;
   position: relative;
   margin: 20px 0px;
}

.title::after{
  content: '';
  width: 50px;
  height: 4px;
  background: var(--main-color);
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,0% );
  -webkit-transform: translate(-50%,0% );
  -moz-transform: translate(-50%,0% );
  -ms-transform: translate(-50%,0% );
  -o-transform: translate(-50%,0% );
}
.title::before{
  content: '';
  width: 150px;
  height: 1px;
  background: rgb(167, 168, 168);
  display: block;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -100% );
  -webkit-transform: translate(-50%, -100% );
  -moz-transform: translate(-50%, -100% );
  -ms-transform: translate(-50%, -100% );
  -o-transform: translate(-50%, -100% );
}
